.card-container {
  width: 12vw;
}

.closed-container {
  width: 3vw;
}
.card-container,
.closed-container {
  background-color: rgba(239, 239, 239, 0.62);
  padding: 10px;
  border-radius: 5px;
  min-height: 100vh;
  transition: width 0.5s;
  box-shadow: 0px -2px 7px 0px lightgrey;
}
.closed-container-list {
  opacity: 0;
  transition: opacity 0.2s;
}
.open-container-list {
  opacity: 1;
  transition: opacity 0.6s;
}
